body {
  background-color: black;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.title {
  font-weight:normal;
  font-size: 50px;
  color: white;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

.text-right {
  text-align: right;
}
